.lh/
*.tgz

scripts/set_envs.sh
*ign*
kcfg*
mkdocs/apps/*
mkdocs/infra/*
mkdocs/solutions/*
mkdocs/index.json
mkdocs/schema/index.json

ignore

apps/*/*/Chart.lock
apps/*/mcs.y*ml

.idea
spellcheck_detected.txt
site/

mkdocs/validation_matrix.md

/*.yaml
.vscode
__pycache__
hunspell_dict_all.txt

# tsweb
tsweb/node_modules/
tsweb/dist/
tsweb/.vite/
tsweb/public/catalog.json
tsweb/public/logos/
tsweb/public/apps/
tsweb/public/index.json
tsweb/public/schema/
